<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.samples.mybatis.mappers.PacienteMapper">

<resultMap type='Paciente' id='PacienteResult'>
    <id property='id' column='id'/>
    <id property='tipo_id' column='tipoId'/>
    <result property='nombre' column='nombre'/>    
    <result property='fechaNacimiento' column='fechaNacimiento'/>       
    <collection property='consultas' ofType='Consulta' resultMap='ConsultaResult'  columnPrefix='Consulta_'></collection>
</resultMap>
<resultMap type='Consulta' id='ConsultaResult'>
    <id property='id' column='id'/>     
    <result property='resumen' column='resumen'/> 
    <result property='fechayHora' column='fechayResumen'/> 
</resultMap>


<select id='loadPaciente' parameterType='map' resultMap='PacienteResult'>
    select pac.id, pac.tipo_id, pac.nombre, pac.fecha_nacimiento, con.idCONSULTAS, con.fecha_y_hora, con.resumen from PACIENTES as pac left join CONSULTAS as con on con.PACIENTES_id=pac.id and con.PACIENTES_tipo_id=pac.tipo_id 
    where pac.id=#{idpaciente} and pac.tipo_id=#{tipoidpaciente}
</select>                                                                                               
</mapper>